.image_center {
    display: block;
    margin-left: auto;
    margin-right: auto }
    
.fingerprint {
  width: 90%;
  height: 100px;
}

.fingerprint.scanning::after {
  content: '';
  position: absolute;
  width: 90%;
  height: 39px;
  background-image: linear-gradient(to bottom,
    rgba(145, 200, 246, 0.25),
    rgba(145, 200, 246, .8));
  animation: scanning .8s linear infinite;
}

@keyframes scanning {
    50% { transform: translate(0, 200px); }
}

.fingerprint_org {
  width: 58px;
  height: 58px;
  border: solid 3px #AAB8BE;
}

.fingerprint_org.scanning::after {
  content: '';
  position: absolute;
  width: 58px;
  height: 8px;
  background-image: linear-gradient(to bottom,
    rgba(170, 184, 190, 0),
    rgba(170, 184, 190, .8));
  animation: scanning_org .8s linear infinite;
}

@keyframes scanning_org {
    100% { transform: translate(0, 52px); }
}

.myBold {
  font-weight: bold;
}




